body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pericia-container {
    width: 80%;
    max-width: 600px;
}

.pericia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: #1e1e1e;
    border-radius: 8px;
    border: 1px solid #333;
}

.nome-pericia {
    display: flex;
    align-items: center;
}

.nome-pericia img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-right: 10px;
}

.valores {
    display: flex;
    gap: 10px;
}

.valores div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select, input {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
}
